.parchai{
    box-shadow: 5px 5px 10px rgba(222, 29, 29, 0.5);
    background: rgba(235, 214, 24, 0.927);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-size: x-large;
   
}